html,
body {
  margin: 0;
  padding: 0;
  overflow: auto;
  word-break: break-all;
  hyphens: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  width: 90%;
  max-width: 900px;
  margin: 2em auto;
  font: 0.9em/1.2 Arial, Helvetica, sans-serif;
  background: url('https://images.pexels.com/photos/1955134/pexels-photo-1955134.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: whitesmoke;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-gap: 20px;
}

header,
footer {
  border-radius: 5px;
  padding: 0.6rem;
  background-color: rgb(207, 232, 220);
  border: 2px solid rgb(79, 185, 227);
  color: black;
}

aside {
  border-right: 1px solid #999;
  padding-right: 0.6rem;
  grid-column: 1 / 4;
  grid-row: 2;
}

header {
  text-align: center;
  grid-column: 1 / 13;
  grid-row: 1;
}

article {
  grid-column: 4 / 13;
  grid-row: 2;
}

/* aside {
  grid-column: 1 / 4;
  grid-row: 2;
} */

footer {
  grid-column: 1 / 13;
  grid-row: 3;
}
